body{
	
	background-color: #949494;
	
}

#scene{
	background-color: #4dc242;
	width: 500px;
	height: 500px;
	position: relative;
}
.food{
	position: absolute;
	width: 9px;
	height: 9px;
	border-radius: 100%;
	background-color: darkgreen;
	border: 1px solid black;
}
.specie{
	position: absolute;
	border-radius: 100%;
	border: 1px solid black;
}
.graph{
	background-color: white;
	margin-bottom: 5px;
	margin-left: 50px;
	width: 500px;
	height: 163px;
}
.graph1{
	margin-bottom: auto;
}

#stats{
	margin-top: 50px;
	border-collapse: collapse;
	border: 1px solid black;
}
#stats td{
	border-collapse: collapse;
	border: 1px solid black;
}
